body {
  font-family: "Source Sans Pro", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 400;
  background: #f2f2f2; }
  body > table {
    width: 660px; }
    body > table td {
      background: #fff; }

table {
  font-family: "Source Sans Pro", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 400;
  border-collapse: collapse; }

td {
  border: 1px solid #aaa;
  padding: 0; }
