table {
  border-collapse: collapse;
  max-height: 400px;
  max-width: 100%;
  thead {
    th {
      background: limegreen;
      padding-top: 10px;
      padding-bottom: 10px;
      border: 1px solid;
    }
  }
  tbody {
    tr {
      &:nth-child(2n+1) {
        th, td {
          background: peachpuff;          
        }
      }
      &:nth-child(2n) {
        th, td {
          background: lightcyan;            
        }
      }
    }
    td {
      padding: 50px;
      border: 1px solid blue;
    }
  }
  th, td {
    &:last-child {
      background: plum !important;
      border-left-width: 3px;
    }
    &:nth-child(2) {
      // border-left: 3px solid red;
    }
  }
}

// ------------ STICKY STYLES ---------------- //

table.sticky {
  // Prevent FOUC when page is first loaded.
  visibility: hidden;
  display: block;
}
.sticky-table-wrapper {
  overflow: auto;
  &.--is-scrolling {
    th, td {
      &.sticky {
        box-shadow: 4px 2px 4px rgba(0,0,0,0.3), 2px 4px 4px rgba(0,0,0,0.3);
      }
    }
  }

  table.sticky {
    // border-collapse: separate !important;
    border-spacing: 0px !important;
    box-sizing: border-box !important;
    // Return table display back to normal.
    display: table;
    visibility: visible;
    max-height: inherit !important;
    max-width: inherit !important;
  }
  thead {
    // If there is more than one <thead>, ensure that cells within secondary <thead> do not have top border.
    &:not(:first-child) {
      th, td {
        border-top-width: 0;
      }
    }
    // If there is more than one <tr> within a <thead>, ensure that cells within secondary <tr> do not have top border.
    tr:not(:first-child) {
      th, td {
        border-top-width: 0;
      }
    }
    // If a table has a <thead> followed by a <tbody>, ensure that cells within <tbody> do not have a top border.
    + tbody {
      th, td {
        border-top-width: 0;
      }
    }
  }
  tbody:first-child {
    // If a table does *not* start with a <thead>, ensure that cells within the <tbody> secondary <tr> do not have a top border.
    tr:not(:first-child) {
      th, td {
        border-top-width: 0;
      }
    }
  }

  thead, tbody {
    .sticky {
      position: relative;
      transition: box-shadow 0.3s;
      // Because transform removes our <th> from the normal flow of the page, it loses its top and bottom borders
      // (as, from the rendering engine perspective, it is no longer a part of the table).
      // We need to add these borders back via some css generated elements.
      &:before {
        content: "";
        position: absolute;
        border: inherit;        
        top: calc(-1 * var(--border-top-width));
        right: calc(-1 * var(--border-right-width));
        bottom: calc(-1 * var(--border-bottom-width));
        left: calc(-1 * var(--border-left-width));
      }
    }
  }
}

@-moz-document url-prefix() { 
  table.sticky {
    thead, tbody {
      .sticky {
        &:before {
          top: -1px;
          right: 0;
          bottom: -1px;
          left: -2px;
        }
      }
    }
  }
}


#blah-wrapper {
  height: 400px;
  overflow: auto;
}

// @-moz-document url-prefix() { 
//   body {
//      background:lime;
//   }
// }