table {
  border-collapse: collapse;
  max-height: 400px;
  max-width: 100%; }
  table thead th {
    background: limegreen;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid; }
  table tbody tr:nth-child(2n+1) th, table tbody tr:nth-child(2n+1) td {
    background: peachpuff; }
  table tbody tr:nth-child(2n) th, table tbody tr:nth-child(2n) td {
    background: lightcyan; }
  table tbody th, table tbody td {
    padding: 50px;
    border: 1px solid blue; }
  table th:last-child, table td:last-child {
    background: plum !important;
    border-left-width: 3px; }

table.sticky {
  visibility: hidden;
  display: block; }

.sticky-table-wrapper {
  overflow: auto; }
  .sticky-table-wrapper.--is-scrolling th.sticky, .sticky-table-wrapper.--is-scrolling td.sticky {
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow); }
  .sticky-table-wrapper table.sticky {
    border-spacing: 0px !important;
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
    display: table;
    visibility: visible;
    max-height: inherit !important;
    max-width: inherit !important; }
  .sticky-table-wrapper thead:not(:first-child) th, .sticky-table-wrapper thead:not(:first-child) td {
    border-top-width: 0; }
  .sticky-table-wrapper thead tr:not(:first-child) th, .sticky-table-wrapper thead tr:not(:first-child) td {
    border-top-width: 0; }
  .sticky-table-wrapper thead + tbody th, .sticky-table-wrapper thead + tbody td {
    border-top-width: 0; }
  .sticky-table-wrapper tbody:first-child tr:not(:first-child) th, .sticky-table-wrapper tbody:first-child tr:not(:first-child) td {
    border-top-width: 0; }
  .sticky-table-wrapper thead .sticky, .sticky-table-wrapper tbody .sticky {
    position: relative;
    -webkit-transition: -webkit-box-shadow 0.1s;
    transition: -webkit-box-shadow 0.1s;
    transition: box-shadow 0.1s;
    transition: box-shadow 0.1s, -webkit-box-shadow 0.1s; }
    .sticky-table-wrapper thead .sticky:before, .sticky-table-wrapper tbody .sticky:before {
      content: "";
      position: absolute;
      border: inherit;
      top: calc(-1 * var(--border-top-width));
      right: calc(-1 * var(--border-right-width));
      bottom: calc(-1 * var(--border-bottom-width));
      left: calc(-1 * var(--border-left-width));
      z-index: inherit; }
