table {
  border-collapse: separate !important;
  border-spacing: 0px !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important; }
  table th:not(:first-child), table td:not(:first-child) {
    border-left: 0 !important; }
  table thead th {
    background: limegreen;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid; }
  table tbody tr:nth-child(2n) {
    background: gray; }
  table tbody td {
    padding: 50px; }
  table .corner {
    z-index: 2 !important; }
  table .blah-td .blah {
    background: rgba(120, 120, 0, 0.3); }

.sticky-table-wrapper {
  overflow: auto; }
  .sticky-table-wrapper thead .sticky, .sticky-table-wrapper tbody .sticky {
    position: relative; }
    .sticky-table-wrapper thead .sticky .sticky-table-header, .sticky-table-wrapper tbody .sticky .sticky-table-header {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: inherit;
      z-index: 1; }
      .sticky-table-wrapper thead .sticky .sticky-table-header .sticky-table-positioned, .sticky-table-wrapper tbody .sticky .sticky-table-header .sticky-table-positioned {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        visibility: visible; }

#blah-wrapper {
  height: 300px;
  overflow: auto; }
