table {
  border-collapse: collapse;
  max-height: 400px;
  max-width: 100%; }
  table thead th {
    background: limegreen;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid; }
  table tbody tr:nth-child(2n+1) th, table tbody tr:nth-child(2n+1) td {
    background: peachpuff; }
  table tbody tr:nth-child(2n) th, table tbody tr:nth-child(2n) td {
    background: lightcyan; }
  table tbody td {
    padding: 50px;
    border: 1px solid blue; }
  table th:last-child, table td:last-child {
    background: plum !important;
    border-left-width: 3px; }

table.sticky {
  visibility: hidden;
  display: block; }

.sticky-table-wrapper {
  overflow: auto; }
  .sticky-table-wrapper table.sticky {
    border-spacing: 0px !important;
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
    display: table;
    visibility: visible;
    max-height: inherit !important;
    max-width: inherit !important; }
  .sticky-table-wrapper thead:not(:first-child) th, .sticky-table-wrapper thead:not(:first-child) td {
    border-top-width: 0; }
  .sticky-table-wrapper thead tr:not(:first-child) th, .sticky-table-wrapper thead tr:not(:first-child) td {
    border-top-width: 0; }
  .sticky-table-wrapper thead + tbody th, .sticky-table-wrapper thead + tbody td {
    border-top-width: 0; }
  .sticky-table-wrapper tbody:first-child tr:not(:first-child) th, .sticky-table-wrapper tbody:first-child tr:not(:first-child) td {
    border-top-width: 0; }
  .sticky-table-wrapper thead .sticky, .sticky-table-wrapper tbody .sticky {
    position: relative; }
    .sticky-table-wrapper thead .sticky:before, .sticky-table-wrapper tbody .sticky:before {
      content: "";
      position: absolute;
      border-top-width: var(--border-top-width);
      border-top-style: var(--border-top-style);
      border-top-color: var(--border-top-color);
      top: calc(-1 * var(--border-top-width));
      border-right-width: var(--border-right-width);
      border-right-style: var(--border-right-style);
      border-right-color: var(--border-right-color);
      right: calc(-1 * var(--border-right-width));
      border-bottom-width: var(--border-bottom-width);
      border-bottom-style: var(--border-bottom-style);
      border-bottom-color: var(--border-bottom-color);
      bottom: calc(-1 * var(--border-bottom-width));
      border-left-width: var(--border-left-width);
      border-left-style: var(--border-left-style);
      border-left-color: var(--border-left-color);
      left: calc(-1 * var(--border-left-width)); }

@-moz-document url-prefix() {
  table.sticky thead .sticky:before, table.sticky tbody .sticky:before {
    top: -1px;
    right: 0;
    bottom: -1px;
    left: -2px; } }

#blah-wrapper {
  height: 400px;
  overflow: auto; }
