body {
  background: #ddd;
  padding: 200px 50px;
}
.legend {
  display: flex;
  // flex-direction: column;
  // flex-direction: row;
  flex-direction: row-reverse;
  flex-direction: column-reverse;
  border: 1px solid;
  header {
    background: #808080;
    color: #fff;;
    padding: 10px;
  }
  .keys {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    li {
      padding: 10px;
      &:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        background: orange;
        margin-right: 1ch;
      }
    }
  }
}