* {
  box-sizing: border-box;
}
body {
  font-family: Roboto;
  font-weight: 300;
}

.platforms {
}

.platform {
  &-name {

  }
  &-list {

  }
}


.env {
  &-abbr {
    font-size: 24px;
    line-height: 40px;
    font-weight: 900;
    font-style: normal;
    text-align: center;
  }
  &-branch {

  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  > * {
    padding: 1rem;
  }
}
.flex-stretch {
  flex: 1 0;
}

.flex-row {
  .mdl-list__item-avatar {
    padding: 0;
    flex: 0 0 40px;
  }
}


.env-list {
  padding: 0;
  &__item {
    display: flex;
    flex-direction: row;
    // align-items: center;
    padding: 16px;
    > *:not(:first-child) {
      margin-left: 16px;
    }
    &-avatar {
      background: #757575;
      background: rgb(244,67,54);
      color: #fff;
      border-radius: 50%;
      padding: 10px;
    }
    &-primary-content {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
    }
    &-sub-title {
      font-size: 14px;
      line-height: 1.2;
    }
    &-details {
      display: flex;
      flex-direction: row;
      font-size: 12px;
      margin-top: .5rem;
      color: rgba(0,0,0,0.4);
      > *:not(:first-child) {
        margin-left: 1rem;
      }
      > * {
        flex: 1;
      }
      .material-icons {
        font-size: 16px;
        vertical-align: bottom;
      }
    }
    &-status {
      .material-icons {
        font-size: 36px;        
      }
    }
    &-note {
      display: flex;
      flex-direction: row;
      position: relative;
      &-content {
        margin-left: .5rem;
        &.is-collapsed {
          &:before {
            content: "…";
            position: absolute;
            right: -.5em;
          }          
        }
      }
    }
  }
}
