body select {
  height: 30px;
  font-size: inherit;
}
body button {
  font-size: inherit;
  min-height: 30px;
}
body .integration {
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
}
body .integration * {
  box-sizing: border-box;
}
body .integration-header {
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px 20px;
}
body .integration-meta {
  text-align: right;
}
body .integration-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: integration-nav;
  border-bottom: 1px solid #d8d8d8;
}
body .integration-nav li {
  flex: 1 0 20%;
  text-align: center;
}
body .integration-nav li:nth-child(n+2) {
  border-left: 1px solid #d8d8d8;
}
body .integration-nav li a {
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
body .integration-nav li .integration-nav-number {
  height: 1.5em;
  width: 1.5em;
  background: red;
  position: relative;
  border-radius: 50%;
  padding: .2em;
  font-weight: bold;
  color: #fff;
}
body .integration-nav li .integration-nav-number:before {
  counter-increment: integration-nav;
  content: counter(integration-nav);
}
body .integration-mappings-header {
  display: flex;
}
body .integration-mappings-header > * {
  flex: 1 0 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
body .integration-mappings-header > *:nth-child(n+2) {
  border-left: 1px solid #d8d8d8;
}
body .integration-mappings-header {
  border-bottom: 1px solid #d8d8d8;
}
body .integration-mapping {
  border: 1px solid #d8d8d8;
  border-radius: 0.5em;
  margin: 10px;
}
body .integration-mapping .integration-field-mapping {
  border-top: 1px solid #d8d8d8;
  background: #f2f2f2;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  color: #9b9b9b;
}
body .integration-mapping .integration-field-mapping button,
body .integration-mapping .integration-field-mapping a {
  color: #9b9b9b;
  text-decoration: none;
}
body .integration-mapping .integration-field-mapping a:hover {
  text-decoration: underline;
}
body .integration-mapping .integration-field-mapping a.integration-add-feature-field .fa {
  margin-left: 5px;
}
body .integration-row {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  position: relative;
}
body .integration-row:before {
  content: "";
  position: absolute;
  border-left: 1px solid #d8d8d8;
  left: 50%;
  top: 0;
  bottom: 0;
  z-index: 1;
}
body .integration-row-left,
body .integration-row-right {
  width: calc(50% - 50px);
  flex: 1 0 calc(50% - 75px);
  display: flex;
  justify-content: space-between;
}
body .integration-row-left {
  flex-direction: row-reverse;
}
body .integration-row-left select {
  order: -1;
}
body .integration-row-left > *:last-child {
  flex-grow: 1;
}
body .integration-row-left > *:last-child:first-child {
  margin-left: 30px;
}
body .integration-row-center {
  text-align: center;
  width: 100px;
  position: relative;
  z-index: 2;
}
body .integration-row button {
  border: none;
  background: none;
  min-width: 30px;
  cursor: pointer;
  font-size: smaller;
}
body .integration-row button.button-toggle-visibility.is-open i.fa {
  transform: rotate(90deg);
}
body .integration-row button.button-switch-direction {
  width: 50px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  background: #fff;
  color: #0073cf;
}
body .integration-row button.button-switch-direction i {
  transform: scale(1);
  transition: transform 0.1s;
}
body .integration-row button.button-switch-direction:hover i,
body .integration-row button.button-switch-direction:focus i {
  transform: scale(1.5);
}
body .integration-row button.button-delete {
  transition: color 0.1s;
}
body .integration-row button.button-delete:hover,
body .integration-row button.button-delete:focus {
  color: red;
}
