table {
  border-collapse: collapse;
  width: 100%; }
  table th, table td {
    border: 1px solid #666; }
  table tbody {
    height: 400px;
    overflow-y: auto; }
  table thead tr {
    background: lavender;
    pointer-events: none; }

.table-wrapper {
  height: 400px;
  overflow-y: auto; }

.row {
  background: red; }
  .row > * {
    background: yellow; }
