table {
  border-collapse: collapse;
  width: 100%; }
  table th, table td {
    border: 1px solid #666; }
  table tbody {
    height: 400px;
    overflow-y: auto; }
  table thead tr > *, table tfoot tr > * {
    background: lavender; }

.table-wrapper {
  height: 400px;
  overflow-y: auto; }

.wrapper {
  margin-bottom: 100px; }

.scrolling-tbody {
  transform-style: preserve-3d; }
  .scrolling-tbody thead th, .scrolling-tbody tfoot th {
    position: relative;
    transform: translate3d(0, 0, 1px); }
    .scrolling-tbody thead th:before, .scrolling-tbody tfoot th:before {
      content: "";
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      border: 1px solid red; }
  .scrolling-tbody tfoot td {
    background: #ccc;
    transform: translateY(-10px); }

.container {
  transform-style: preserve-3d; }

.test1 {
  width: 500px;
  height: 500px;
  background: red;
  transform: translate3d(0, 362px, 1px); }

.test2 {
  width: 500px;
  height: 500px;
  background: green;
  left: 250px;
  top: 250px; }
