table {
  // table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  th, td {
    border: 1px solid #666;
  }
  tbody {
    height: 400px;
    overflow-y: auto;
  }
  thead tr {
    // background: orange;
    > * {
      background: lavender;
    }
  }
}

.table-wrapper {
  height: 400px;
  overflow-y: auto;
}

.wrapper {
  margin-bottom: 100px;
}

.scrolling-tbody {
  // -- COOL EFFECT
  // tbody {
  //   display: block;
  //   tr {
  //     display: flex;
  //   }
  //   td {
  //     display: block;
  //   }
  // }

  thead {
    tr {
      position: relative;
      z-index: 100;
    }
    // Because transform removes our <th> from the normal flow of the page, it loses its top and bottom borders
    // (as, from the rendering engine perspective, it is no longer a part of the table).
    // We need to add these borders back via some css generated elements.
    th {
      &:before {
        content: "";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        border: 1px solid red;
      }
    }
  }
  tbody {
    th, td {
      > * {
        // Positioned elements that are immediate children of the <td>, <th> cells will appear above the table header *unless* the z-index is made into a negative value. Note that this will not affect the display of any child elements of that negatively z-indexed element.
        z-index: -1 !important;
      }
    }
  }
}
