body {
  * {
    box-sizing: border-box;
  }
}
.float {
  float: left;
  max-width: 66%;
}
.flex-row {
  border: 1px solid red;
  // width: 50%;
  background: #fc0;
  display: flex;
  > * {
    // flex: 0 0 100px;
    background: rgba(blue, 0.5);
  }
  .wrap {
    min-width: 0;
    flex: 0 1 auto;
    background: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}