body {
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica; }

ul > li:first-child {
  background: yellow; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .wrapper > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 0;
            flex: 1 0; }
    .wrapper > *:first-child {
      border-right: 1px solid #ddd;
      margin-right: 20px;
      padding-right: 20px; }
  .wrapper h1 {
    margin: 0; }

.lh li {
  line-height: 20px; }

.padding li {
  padding-top: 2px;
  padding-bottom: 2px; }
