table {
  border-collapse: collapse;
  max-height: 400px;
  max-width: 100%; }
  table thead th {
    background: #6698f5;
    padding: 30px;
    border: 1px solid #4f74b9; }
  table tbody tr:nth-child(2n+1) th, table tbody tr:nth-child(2n+1) td {
    background: #fff; }
  table tbody tr:nth-child(2n) th, table tbody tr:nth-child(2n) td {
    background: #efefef; }
  table tbody th, table tbody td {
    padding: 50px 30px;
    border: 1px solid lightgray; }
  table .sticky--is-stuck-x {
    background: #e5eeff !important; }

table.sticky {
  visibility: hidden;
  display: block; }

.sticky-table-wrapper {
  overflow: auto; }
  .sticky-table-wrapper.sticky--is-scrolling th[class*="sticky--is-stuck"], .sticky-table-wrapper.sticky--is-scrolling td[class*="sticky--is-stuck"] {
    -webkit-box-shadow: inherit;
            box-shadow: inherit; }
  .sticky-table-wrapper:not(.sticky--is-scrolling) th[class*="sticky--is-stuck"], .sticky-table-wrapper:not(.sticky--is-scrolling) td[class*="sticky--is-stuck"] {
    -webkit-box-shadow: none !important;
            box-shadow: none !important; }
  .sticky-table-wrapper table.sticky {
    border-spacing: 0px !important;
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
    display: table;
    visibility: visible;
    max-height: inherit !important;
    max-width: inherit !important; }
  .sticky-table-wrapper thead:not(:first-child) th, .sticky-table-wrapper thead:not(:first-child) td {
    border-top-width: 0; }
  .sticky-table-wrapper thead tr:not(:first-child) th, .sticky-table-wrapper thead tr:not(:first-child) td {
    border-top-width: 0; }
  .sticky-table-wrapper thead + tbody th, .sticky-table-wrapper thead + tbody td {
    border-top-width: 0; }
  .sticky-table-wrapper tbody:first-child tr:not(:first-child) th, .sticky-table-wrapper tbody:first-child tr:not(:first-child) td {
    border-top-width: 0; }
  .sticky-table-wrapper thead *[class*="sticky--is-stuck"], .sticky-table-wrapper tbody *[class*="sticky--is-stuck"] {
    position: relative;
    -webkit-transition: -webkit-box-shadow 0.1s;
    transition: -webkit-box-shadow 0.1s;
    transition: box-shadow 0.1s;
    transition: box-shadow 0.1s, -webkit-box-shadow 0.1s; }
    .sticky-table-wrapper thead *[class*="sticky--is-stuck"]:before, .sticky-table-wrapper tbody *[class*="sticky--is-stuck"]:before {
      content: "";
      position: absolute;
      border: inherit;
      top: calc(-1 * var(--border-top-width));
      right: calc(-1 * var(--border-right-width));
      bottom: calc(-1 * var(--border-bottom-width));
      left: calc(-1 * var(--border-left-width)); }
  .sticky-table-wrapper thead *.sticky--is-stuck, .sticky-table-wrapper tbody *.sticky--is-stuck {
    z-index: 100; }
