.tooltip {
  position: absolute;
  background: #FFC107;
  color: black;
  width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
}
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: #FFC107;
}
.tooltip .tooltip-content {
  font-size: smaller;
}
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(45%);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(45%);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"] {
  margin-left: 5px;
}
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(45%);
  margin-left: 0;
  margin-right: 0;
}
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(45%);
  margin-left: 0;
  margin-right: 0;
}
.popover {
  position: absolute;
  background: red;
  color: black;
  max-width: 40vw;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
}
.popover .popover-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 10px;
  border-color: red;
}
.popover .popover-title {
  font-weight: bold;
  padding-bottom: 10px;
}
.popover .popover-content:not(:empty) {
  border-top: 1px solid;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px 10px 0;
}
.popover[x-placement^="top"] {
  margin-bottom: 10px;
}
.popover[x-placement^="top"] .popover-arrow {
  border-width: 10px 10px 0 10px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -10px;
  left: calc(40%);
  margin-top: 0;
  margin-bottom: 0;
}
.popover[x-placement^="bottom"] {
  margin-top: 10px;
}
.popover[x-placement^="bottom"] .popover-arrow {
  border-width: 0 10px 10px 10px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -10px;
  left: calc(40%);
  margin-top: 0;
  margin-bottom: 0;
}
.popover[x-placement^="right"] {
  margin-left: 10px;
}
.popover[x-placement^="right"] .popover-arrow {
  border-width: 10px 10px 10px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -10px;
  top: calc(40%);
  margin-left: 0;
  margin-right: 0;
}
.popover[x-placement^="left"] {
  margin-right: 10px;
}
.popover[x-placement^="left"] .popover-arrow {
  border-width: 10px 0 10px 10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -10px;
  top: calc(40%);
  margin-left: 0;
  margin-right: 0;
}
