@tooltipArrowSize: 5px;
@tooltipBg: fade(#000, 80%);
@tooltipPadding: 6px;

@popoverArrowSize: 10px;
@popoverBg: red;
@popoverPadding: 10px;


// ----- MIXINS -----
.arrow(@size, @color: @tooltipBg) {
  .aha-tooltip__arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: @size;
    border-color: @color;
  }
}

.topPlacement(@size) {
  &[x-placement^="top"] {
    margin-bottom: @size;
    .aha-tooltip__arrow {
      border-width: @size @size 0 @size;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      bottom: -@size;
      left: calc(50% - @size);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.bottomPlacement(@size) {
  &[x-placement^="bottom"] {
    margin-top: @size;
    .aha-tooltip__arrow {
      border-width: 0 @size @size @size;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      top: -@size;
      left: calc(50% - @size);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
.rightPlacement(@size) {
  &[x-placement^="right"] {
    margin-left: @size;
    .aha-tooltip__arrow {
      border-width: @size @size @size 0;
      border-left-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
      left: -@size;
      top: calc(50% - @size);
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.leftPlacement(@size) {
  &[x-placement^="left"] {
    margin-right: @size;
    .aha-tooltip__arrow {
        border-width: @size 0 @size @size;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        right: -@size;
        top: calc(50% - @size);
        margin-left: 0;
        margin-right: 0;
    }
  }
}

.placements(@size) {
  .topPlacement(@size);
  .bottomPlacement(@size);
  .rightPlacement(@size);
  .leftPlacement(@size);
}


// ----- STYLES -----
.aha-tooltip {
  position: absolute;
  background: @tooltipBg;
  color: #fff;
  font-size: 11px;
  max-width: 200px;
  border-radius: 4px;
  pointer-events: none;
  // box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: @tooltipPadding;
  text-align: center;
  opacity: 0;
  transition: opacity 0.1s; // Controls how quickly transition occurs when going back to hidden state.
  &[x-in] {
    opacity: 1;
    transition: opacity 0.3s; // Controls how quickly transition occurs when going to visible state.
  }
  &[x-out-of-boundaries] {
    display: none;
  }
  .arrow(@tooltipArrowSize, @tooltipBg);
  .placements(@tooltipArrowSize);

  // ----- VARIANTS -----
  &--popover {
    background: @popoverBg;
    max-width: 40vw;
    padding: @popoverPadding;
    color: inherit;
    font-size: inherit;
    text-align: left;
    .arrow(@popoverArrowSize, @popoverBg);
    .placements(@popoverArrowSize);

    .aha-tooltip__title {
      font-weight: bold;
      padding-bottom: @popoverPadding;
    }
    .aha-tooltip__content:not(:empty) {
      border-top: 1px solid;
      margin-left: -@popoverPadding;
      margin-right: -@popoverPadding;
      padding: @popoverPadding @popoverPadding 0;
    }

  }
}
