@tooltipArrowSize: 5px;
@tooltipBg: fade(#000, 80%);
@tootlipBorderColor: @tooltipBg;
@tooltipPadding: 6px;
@tooltipRadius: 4px;

@popoverArrowSize: 10px;
@popoverBg: #fff;
@popoverBorderColor: #ddd;
@popoverPadding: 10px;


// ----- MIXINS -----
.arrow(@size, @bgColor: @tooltipBg) {
  .aha-tooltip__arrow, .aha-tooltip__arrow:after {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: @size;
    border-color: @bgColor;
    content: "";
  }
}

.topPlacement(@size, @borderColor) {
  &[x-placement^="top"] {
    margin-bottom: @size;
    .aha-tooltip__arrow {
      border-width: @size @size 0 @size;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      bottom: -@size;
      left: calc(50% - @size);
      margin-top: 0;
      margin-bottom: 0;
      &:after {
        border-color: @borderColor;
        border-width: @size @size 0 @size;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        bottom: 1px;
        left: -@size * 2;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.bottomPlacement(@size, @borderColor) {
  &[x-placement^="bottom"] {
    margin-top: @size;
    &:before {
      top: -@size;
      bottom: 100%;
      width: 100%;
    }
    .aha-tooltip__arrow {
      border-width: 0 @size @size @size;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      top: -@size;
      left: calc(50% - @size);
      margin-top: 0;
      margin-bottom: 0;
      &:after {
        border-color: @borderColor;
        border-width: 0 @size @size @size;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        top: 1px;
        left: -@size * 2;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}
.rightPlacement(@size, @borderColor) {
  &[x-placement^="right"] {
    margin-left: @size;
    .aha-tooltip__arrow {
      border-width: @size @size @size 0;
      border-left-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
      left: -@size;
      top: calc(50% - @size);
      margin-left: 0;
      margin-right: 0;
      &:after {
        border-color: @borderColor;
        border-width: @size @size @size 0;
        border-left-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
        left: 1px;
        top: -@size * 2;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.leftPlacement(@size, @borderColor) {
  &[x-placement^="left"] {
    margin-right: @size;
    .aha-tooltip__arrow {
      border-width: @size 0 @size @size;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      right: -@size;
      top: calc(50% - @size);
      margin-left: 0;
      margin-right: 0;
      &:after {
        border-color: @borderColor;
        border-width: @size 0 @size @size;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        right: 1px;
        top: -@size * 2;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.placements(@size, @borderColor) {
  .topPlacement(@size, @borderColor);
  .bottomPlacement(@size, @borderColor);
  .rightPlacement(@size, @borderColor);
  .leftPlacement(@size, @borderColor);
}


// ----- BASE STYLES -----
.aha-tooltip {
  position: absolute;
  z-index: 1500;
  border-radius: @tooltipRadius;
  opacity: 0;
  transition: opacity 0.1s; // Controls how quickly transition occurs when going back to hidden state.
  &:before {
    content: "";
    background: transparent;
    display: block;
    position: absolute;
    z-index: 1;
  }
  &[x-in] {
    opacity: 1;
    transition: opacity 0.3s; // Controls how quickly transition occurs when going to visible state.
  }
  &[x-out-of-boundaries] {
    display: none;
  }
  &__inner {
    padding: @tooltipPadding;
  }

  // ----- VARIANTS -----
  &--tooltip {
    background: @tooltipBg;
    color: #fff;
    font-size: 11px;
    max-width: 200px;
    text-align: center;
    .arrow(@tooltipArrowSize, @tooltipBg);
    .placements(@tooltipArrowSize, transparent);
  }
  &--popover {
    background: @popoverBg;
    max-width: 40vw;
    padding: 0;
    border: 1px solid @popoverBorderColor;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;
    .arrow(@popoverArrowSize, @popoverBorderColor);
    .placements(@popoverArrowSize, @popoverBg);
    .aha-tooltip__title:not(:empty) {
      font-weight: bold;
      padding: @popoverPadding;
      border-top-left-radius: @tooltipRadius;
      border-top-right-radius: @tooltipRadius;
      + .aha-tooltip__content:not(:empty) {
        background: #fafafa;
      }
    }
    .aha-tooltip__content:not(:empty) {
      border-top: 1px solid @popoverBorderColor;
      border-bottom-left-radius: @tooltipRadius;
      border-bottom-right-radius: @tooltipRadius;
      padding: @popoverPadding;
      *:first-child {
        margin-top: 0;
      }
      *:last-child {
        margin-bottom: 0;
      }
    }
  }
}
