.aha-tooltip {
  position: absolute;
  background: #FFC107;
  color: black;
  max-width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
}
.aha-tooltip .aha-tooltip__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: #FFC107;
}
.aha-tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.aha-tooltip[x-placement^="top"] .aha-tooltip__arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(45%);
  margin-top: 0;
  margin-bottom: 0;
}
.aha-tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.aha-tooltip[x-placement^="bottom"] .aha-tooltip__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(45%);
  margin-top: 0;
  margin-bottom: 0;
}
.aha-tooltip[x-placement^="right"] {
  margin-left: 5px;
}
.aha-tooltip[x-placement^="right"] .aha-tooltip__arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(45%);
  margin-left: 0;
  margin-right: 0;
}
.aha-tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.aha-tooltip[x-placement^="left"] .aha-tooltip__arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(45%);
  margin-left: 0;
  margin-right: 0;
}
.aha-tooltip--popover {
  background: red;
  max-width: 40vw;
}
.aha-tooltip--popover .aha-tooltip__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 10px;
  border-color: red;
}
.aha-tooltip--popover[x-placement^="top"] {
  margin-bottom: 10px;
}
.aha-tooltip--popover[x-placement^="top"] .aha-tooltip__arrow {
  border-width: 10px 10px 0 10px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -10px;
  left: calc(40%);
  margin-top: 0;
  margin-bottom: 0;
}
.aha-tooltip--popover[x-placement^="bottom"] {
  margin-top: 10px;
}
.aha-tooltip--popover[x-placement^="bottom"] .aha-tooltip__arrow {
  border-width: 0 10px 10px 10px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -10px;
  left: calc(40%);
  margin-top: 0;
  margin-bottom: 0;
}
.aha-tooltip--popover[x-placement^="right"] {
  margin-left: 10px;
}
.aha-tooltip--popover[x-placement^="right"] .aha-tooltip__arrow {
  border-width: 10px 10px 10px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -10px;
  top: calc(40%);
  margin-left: 0;
  margin-right: 0;
}
.aha-tooltip--popover[x-placement^="left"] {
  margin-right: 10px;
}
.aha-tooltip--popover[x-placement^="left"] .aha-tooltip__arrow {
  border-width: 10px 0 10px 10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -10px;
  top: calc(40%);
  margin-left: 0;
  margin-right: 0;
}
.aha-tooltip--popover .aha-tooltip__title {
  font-weight: bold;
  padding-bottom: 10px;
}
.aha-tooltip--popover .aha-tooltip__content:not(:empty) {
  border-top: 1px solid;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px 10px 0;
}
