.aha-tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 11px;
  max-width: 200px;
  border-radius: 4px;
  pointer-events: none;
  padding: 6px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.1s;
}
.aha-tooltip[x-in] {
  opacity: 1;
  transition: opacity 0.3s;
}
.aha-tooltip[x-out-of-boundaries] {
  display: none;
}
.aha-tooltip .aha-tooltip__arrow,
.aha-tooltip .aha-tooltip__arrow:after {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: transparent;
  content: "";
}
.aha-tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.aha-tooltip[x-placement^="top"] .aha-tooltip__arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(45%);
  margin-top: 0;
  margin-bottom: 0;
}
.aha-tooltip[x-placement^="top"] .aha-tooltip__arrow:after {
  border-color: rgba(0, 0, 0, 0.8);
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: 1px;
  left: -10px;
  margin-top: 0;
  margin-bottom: 0;
}
.aha-tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.aha-tooltip[x-placement^="bottom"] .aha-tooltip__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(45%);
  margin-top: 0;
  margin-bottom: 0;
}
.aha-tooltip[x-placement^="bottom"] .aha-tooltip__arrow:after {
  border-color: rgba(0, 0, 0, 0.8);
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: 1px;
  left: -10px;
  margin-top: 0;
  margin-bottom: 0;
}
.aha-tooltip[x-placement^="right"] {
  margin-left: 5px;
}
.aha-tooltip[x-placement^="right"] .aha-tooltip__arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(45%);
  margin-left: 0;
  margin-right: 0;
}
.aha-tooltip[x-placement^="right"] .aha-tooltip__arrow:after {
  border-color: rgba(0, 0, 0, 0.8);
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: 1px;
  top: -10px;
  margin-left: 0;
  margin-right: 0;
}
.aha-tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.aha-tooltip[x-placement^="left"] .aha-tooltip__arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(45%);
  margin-left: 0;
  margin-right: 0;
}
.aha-tooltip[x-placement^="left"] .aha-tooltip__arrow:after {
  border-color: rgba(0, 0, 0, 0.8);
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: 1px;
  top: -10px;
  margin-left: 0;
  margin-right: 0;
}
.aha-tooltip--popover {
  background: red;
  max-width: 40vw;
  padding: 10px;
  color: inherit;
  font-size: inherit;
  text-align: left;
}
.aha-tooltip--popover .aha-tooltip__arrow,
.aha-tooltip--popover .aha-tooltip__arrow:after {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 10px;
  border-color: red;
  content: "";
}
.aha-tooltip--popover[x-placement^="top"] {
  margin-bottom: 10px;
}
.aha-tooltip--popover[x-placement^="top"] .aha-tooltip__arrow {
  border-width: 10px 10px 0 10px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -10px;
  left: calc(40%);
  margin-top: 0;
  margin-bottom: 0;
}
.aha-tooltip--popover[x-placement^="top"] .aha-tooltip__arrow:after {
  border-color: green;
  border-width: 10px 10px 0 10px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: 1px;
  left: -20px;
  margin-top: 0;
  margin-bottom: 0;
}
.aha-tooltip--popover[x-placement^="bottom"] {
  margin-top: 10px;
}
.aha-tooltip--popover[x-placement^="bottom"] .aha-tooltip__arrow {
  border-width: 0 10px 10px 10px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -10px;
  left: calc(40%);
  margin-top: 0;
  margin-bottom: 0;
}
.aha-tooltip--popover[x-placement^="bottom"] .aha-tooltip__arrow:after {
  border-color: green;
  border-width: 0 10px 10px 10px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: 1px;
  left: -20px;
  margin-top: 0;
  margin-bottom: 0;
}
.aha-tooltip--popover[x-placement^="right"] {
  margin-left: 10px;
}
.aha-tooltip--popover[x-placement^="right"] .aha-tooltip__arrow {
  border-width: 10px 10px 10px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -10px;
  top: calc(40%);
  margin-left: 0;
  margin-right: 0;
}
.aha-tooltip--popover[x-placement^="right"] .aha-tooltip__arrow:after {
  border-color: green;
  border-width: 10px 10px 10px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: 1px;
  top: -20px;
  margin-left: 0;
  margin-right: 0;
}
.aha-tooltip--popover[x-placement^="left"] {
  margin-right: 10px;
}
.aha-tooltip--popover[x-placement^="left"] .aha-tooltip__arrow {
  border-width: 10px 0 10px 10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -10px;
  top: calc(40%);
  margin-left: 0;
  margin-right: 0;
}
.aha-tooltip--popover[x-placement^="left"] .aha-tooltip__arrow:after {
  border-color: green;
  border-width: 10px 0 10px 10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: 1px;
  top: -20px;
  margin-left: 0;
  margin-right: 0;
}
.aha-tooltip--popover .aha-tooltip__title {
  font-weight: bold;
  padding-bottom: 10px;
}
.aha-tooltip--popover .aha-tooltip__content:not(:empty) {
  border-top: 1px solid;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px 10px 0;
}
