@tooltipArrowSize: 5px;
@tooltipColor: #FFC107;
@tooltipPadding: 10px;

@popoverArrowSize: 10px;
@popoverColor: red;
@popoverPadding: 10px;

.tooltip {
  position: absolute;
  background: @tooltipColor;
  color: black;
  width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: @tooltipPadding;
  text-align: center;
  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: @tooltipArrowSize;
    border-color: @tooltipColor;
  }
  .tooltip-content {
    font-size: smaller;
  }
  &[x-placement^="top"] {
    margin-bottom: @tooltipArrowSize;
    .tooltip-arrow {
      border-width: @tooltipArrowSize @tooltipArrowSize 0 @tooltipArrowSize;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      bottom: -@tooltipArrowSize;
      left: calc(50% - @tooltipArrowSize);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="bottom"] {
    margin-top: @tooltipArrowSize;
    .tooltip-arrow {
      border-width: 0 @tooltipArrowSize @tooltipArrowSize @tooltipArrowSize;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      top: -@tooltipArrowSize;
      left: calc(50% - @tooltipArrowSize);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="right"] {
    margin-left: @tooltipArrowSize;
    .tooltip-arrow {
      border-width: @tooltipArrowSize @tooltipArrowSize @tooltipArrowSize 0;
      border-left-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
      left: -@tooltipArrowSize;
      top: calc(50% - @tooltipArrowSize);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[x-placement^="left"] {
    margin-right: @tooltipArrowSize;
    .tooltip-arrow {
        border-width: @tooltipArrowSize 0 @tooltipArrowSize @tooltipArrowSize;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        right: -@tooltipArrowSize;
        top: calc(50% - @tooltipArrowSize);
        margin-left: 0;
        margin-right: 0;
    }
  }
}


.popover {
  position: absolute;
  background: @popoverColor;
  color: black;
  max-width: 40vw;
  // width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: @popoverPadding;
  text-align: center;
  .popover-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: @popoverArrowSize;
    border-color: @popoverColor;
  }
  .popover-title {
    font-weight: bold;
    padding-bottom: @popoverPadding;
  }
  .popover-content:not(:empty) {
    border-top: 1px solid;
    margin-left: -@popoverPadding;
    margin-right: -@popoverPadding;
    padding: @popoverPadding @popoverPadding 0;
  }
  &[x-placement^="top"] {
    margin-bottom: @popoverArrowSize;
    .popover-arrow {
      border-width: @popoverArrowSize @popoverArrowSize 0 @popoverArrowSize;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      bottom: -@popoverArrowSize;
      left: calc(50% - @popoverArrowSize);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="bottom"] {
    margin-top: @popoverArrowSize;
    .popover-arrow {
      border-width: 0 @popoverArrowSize @popoverArrowSize @popoverArrowSize;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      top: -@popoverArrowSize;
      left: calc(50% - @popoverArrowSize);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="right"] {
    margin-left: @popoverArrowSize;
    .popover-arrow {
      border-width: @popoverArrowSize @popoverArrowSize @popoverArrowSize 0;
      border-left-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
      left: -@popoverArrowSize;
      top: calc(50% - @popoverArrowSize);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[x-placement^="left"] {
    margin-right: @popoverArrowSize;
    .popover-arrow {
        border-width: @popoverArrowSize 0 @popoverArrowSize @popoverArrowSize;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        right: -@popoverArrowSize;
        top: calc(50% - @popoverArrowSize);
        margin-left: 0;
        margin-right: 0;
    }
  }
}